.header {
  grid-area: header;
  display: grid;
  grid-template-areas: "logo search";
  grid-template-columns: min-content minmax(200px, auto);
  grid-gap: 20px;
  background-color: $yellow-ml;
  padding: 8px 20% 8px 20%;

  @media (max-width: 780px) {
    padding-left: 8%;
    padding-right: 8%;
  }
}

.logoML {
  grid-area: logo;
}
