.product_row {
  display: grid;
  grid-template-columns: 220px auto;
  grid-template-areas: 
    "img data_container";

  @media (max-width: 780px) {
    grid-template-columns: auto auto;
    grid-template-areas: "img data_container";
  }
}

.img_container {
  padding: 16px;
  & > img {
    width: 180px;
    height: 180px;
    border-radius: 4px;
  }
  @media (max-width: 780px) {
    & > img {
      width: 80px;
      height: 80px;
    }
  }
}

.data_container {
  display: grid;
  grid-template-rows: 110px auto;

  .pricer_container {
    font-size: 25px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-right: 10%;

    .price {
      margin-bottom: 32px;
      & > img {
        margin-left: 10px;
      }
    }
    .ubicacion {
      font-size: 12px;
      color: $gray-ml;
    }
  }
  .title {
    font-size: 18px;
  }

  @media (max-width: 780px) {
    grid-template-rows: 50% 50%;
    .pricer_container {
      font-size: 15px;

      .price {
        margin-bottom: 10px;
        & > img {
          margin-left: 10px;
        }
      }
      .ubicacion {
        display: none;
      }
    }
    .title{
      font-size: 15px;
      margin: 5px;
      text-align: left;
    }
  }
}

.link_product_row {
  text-decoration: "none";
  color: $dark-gray-ml;
  &:focus,
  &:hover,
  &:visited,
  &:link,
  &:active {
    text-decoration: none;
  }
}

.product_row:hover {
  box-shadow: 1px 1px 9px #888888;
}
